.boardContainer {
    height: 90%;
    margin-top: 10px;
}

.homeButtonContainer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0 0;
}

.homeButton {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    padding: 0 10px 0 10px;
    height: 48px;
    font-size: 16px;
    background: blue;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

.startNewGameButton {
    border: 0;
    border-radius: 4px;
    padding: 0 10px 0 10px;
    height: 48px;
    font-size: 16px;
    background: blue;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

.winner {
    display: flex;
    align-items: center;
    width: 200px;
    margin: 20px auto;
}