.boardContainer {
  height: 90%;
  margin-top: 10px;
}

.homeButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 0 0;
}

.homeButton {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  padding: 0 10px 0 10px;
  height: 48px;
  font-size: 16px;
  background: blue;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
}

.winner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
}

.winner p {
  margin-right: 10px;
}

.moveSelector {
  -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
  -moz-appearance: none; /* Remove estilo padrão do Firefox */
  appearance: none; /* Também remove o estilo do Firefox*/
  border: 20px;
  border-radius: 6px;
  padding: 0 10px 0 10px;
  height: 40px;
  font-size: 16px;
  background: black;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
}
